* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', 'serif';
}

 :root {
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: white;
    --second-color: #00ffee;
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}


/* nav section start  */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7% 2rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.logo {
    font-size: 4rem;
    font-weight: 800;
    color: var(--text-color);
    cursor: pointer;
    transition: 0.4s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.logo span {
    text-shadow: 0 0 25px var(--second-color);
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transform: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
    border-bottom: 3px solid var(--second-color);
    color: var(--second-color);
}

.menu-icon {
    font-size: 3.5rem;
    color: var(--second-color);
    display: none;
}

section {
    min-height: 100vh;
    padding: 6rem 8% 1rem;
}


/* nav section end  */


/* home section start  */

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}

span {
    color: var(--second-color);
}

.logo span {
    color: var(--second-color);
}

.home-content h3 {
    margin-bottom: 3rem;
    margin-top: 1rem;
    font-size: 3rem;
}

.home-content h2 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.home-image {
    border-radius: 50%;
}

.home-image img {
    position: relative;
    top: rem;
    width: 25vw;
    height: 50vh;
    border-radius: 50%;
    box-shadow: -5px 5px 45px rgb(220, 82, 124), 5px -5px 54px rgba(103, 7, 7, 0.866);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.home-image img:hover {
    box-shadow: 0 0 25px red, 0 0 50px var(--second-color), 0 0 100px tomato;
}

.home-content p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
    text-indent: indent;
    margin-bottom: 2rem;
    text-align: justify;
}

.social-icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 3rem;
    /* border: 2px solid var(--second-color); */
    font-size: 3rem;
    border-radius: 10px;
    color: var(--second-color);
    transition: 0.4s ease-in-out;
}

.social-icon a:hover {
    transform: scale(1.3) translateX(-5px);
}

.btn {
    display: inline-block;
    padding: 1rem 4rem;
    box-shadow: 0 0 25px var(--second-color);
    border-radius: 2rem;
    color: var(--text-color);
    font-size: 1.5rem;
    margin-top: 2.5rem;
    /* margin-left: 3rem; */
    border: 2px solid transparent;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    transform: scale(1.2);
    box-shadow: 0 0 25px var(--second-color);
}

.btn i {
    padding-left: 1.3rem;
}

.btn-group {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.btn-group a:nth-of-type(2) {
    /* color: var(--second-color); */
    background: black;
    border: 2px solid var(--second-color);
    box-shadow: 0 0 25px transparent;
}

.btn-group a:nth-of-type(2):hover {
    box-shadow: 0 0 50px var(--second-color);
    color: black;
    background: var(--second-color);
}

.text-animation {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.text-animation span {
    position: relative;
}

.text-animation span::before {
    content: 'Web Developer';
    color: var(--second-color);
    animation: words 20s infinite;
}

.text-animation span::after {
    content: '';
    position: absolute;
    width: calc( 100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s step(20) infinite;
}

@keyframes cursor {
    to {
        border-left: 2px solid var(--second-color);
    }
}

@keyframes words {
    0%,
    20% {
        content: "Frontend Developer";
    }
    21%,
    40% {
        content: "Mern Developer";
    }
    41%,
    60% {
        content: "React Developer";
    }
    61%,
    80% {
        content: "Web Designer";
    }
    81%,
    100% {
        content: "Ui/Ux Designer";
    }
}

@keyframes typing {
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0px;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}


/* home section end  */


/* about section start  */

.about-section {
    width: 100%;
    min-height: 100vh;
    background: var(--bg-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.container {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.headings h2 {
    font-size: 3.5rem;
    font-weight: bold;
    display: inline-block;
    padding-bottom: 5rem;
    color: var(--text-color);
}

.contents p {
    /* margin-top: 1rem; */
    font-size: 2rem;
    padding: 0 2rem;
    text-align: justify;
    line-height: 1.5;
}


/* about section end */


/* education section start  */

.heading {
    font-size: 3.5rem;
    text-align: center;
    margin: 1rem 0;
}

.education {
    padding: 100px 15px;
    background-color: var(--second-bg-color);
}

.education h2 {
    margin-bottom: 5rem;
}

.timeline-items {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items ::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    left: calc(50% - 1px);
}

.timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
}

.timeline-dot {
    height: 21px;
    width: 21px;
    background: var(--second-color);
    box-shadow: 0 0 25px var(--second-color), 0 0 50px var(--second-color);
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}

.timeline-date {
    font-size: 20px;
    font-weight: 800;
    margin: 6px 0px 15px;
    color: white;
}

.timeline-content {
    background-color: var(--second-bg-color);
    border: 3px solid var(--second-color);
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px var(--second-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.timeline-content:hover {
    transform: scale(1.2);
    box-shadow: 0 0 25px var(--second-bg-color);
}

.timeline-content h3 {
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0px 0px 10px;
}

.timeline-content p {
    font-size: 1.5rem;
    /* padding-top: 1.2rem; */
    font-weight: 300;
}


/* education section end */


/* skills start */

.skills {
    width: 100%;
}

.skills-section {
    display: flex;
    justify-content: center;
    padding: 50px;
    text-align: center;
    background: var(--bg-color);
    opacity: 10;
}

.content {
    max-width: 1200px;
}

.title {
    font-size: 40px;
    font-weight: bold;
    border-bottom: 4px solid var(--second-bg-color);
    display: inline-block;
    margin-bottom: 20px;
}

.description {
    font-size: 18px;
    color: var(--second-color);
    margin-bottom: 40px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.skill-card {
    background-color: var(--second-bg-color);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    box-shadow: -5px 5px 15px rgb(15, 184, 60), 5px -5px 15px red;
    width: 350px;
}

.skill-card img {
    width: 80px;
    margin-bottom: 10px;
}

.skill-card p {
    text-transform: uppercase;
    font-size: 16px;
    color: var(--text-color);
}

.skill-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px var(--second-color);
}


/* skills end */


/* projects start */

.project {
    width: 100%;
}

.projects-section {
    display: flex;
    justify-content: center;
    padding: 50px;
    text-align: center;
    background: var(--bg-color);
    width: 100%;
}

.content {
    max-width: 1200px;
}

.title {
    font-size: 40px;
    font-weight: bold;
    border-bottom: 4px solid var(--second-bg-color);
    display: inline-block;
    margin-bottom: 20px;
}

.description {
    font-size: 18px;
    color: var(--second-color);
    margin-bottom: 40px;
}

.projects-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.project-card {
    background-color: var(--second-bg-color);
    border-radius: 10px;
    display: flex;
    padding: 20px;
    box-shadow: 0 4px 8px var(--second-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    text-align: left;
    position: relative;
}

.project-card img {
    width: 50%;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.project-info {
    padding-left: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 40px;
}

.project-info h2 {
    color: red;
    font-size: 3rem;
    margin-bottom: 10px;
}

.project-links {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}

.project-links a {
    color: var(--text-color);
    text-decoration: none;
    transition: transform 0.3s ease;
}

.project-links a:hover {
    text-decoration: underline;
}

.project-links a:hover:nth-child(1) {
    color: red;
}

.project-links a:hover:nth-child(2) {
    color: lime;
}

.project-links a:hover:nth-child(3) {
    color: orange;
}

.project-card:hover {
    transform: scale(1.03);
    box-shadow: -5px -5px 55px tomato, 5px 5px 35px red;
}

.project-card:hover img {
    transform: scale(1.1);
}


/* projects end */

.hidden {
    display: hidden;
}


/* conatct section start  */

.contact {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 3rem;
    color: var(--text-color);
    margin-bottom: 10px;
    text-align: center;
}

.descriptionP {
    font-size: 1.5rem;
    color: var(--second-color);
    margin-bottom: 30px;
    text-align: center;
    max-width: 600px;
}

.social-and-contact {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.social-links,
.contact-container {
    width: 50%;
    padding: 20px;
}

.social-links ul {
    list-style: none;
    padding: 0;
}

.social-item {
    background-color: var(--second-bg-color);
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: -5px 5px 45px rgb(220, 82, 124), 5px -5px 54px rgba(103, 7, 7, 0.866);
}

.social-item:hover {
    box-shadow: 5px -5px 20px rgba(176, 120, 15, 0.7), -5px 5px 20px rgba(174, 177, 11, 0.7);
    transform: translateY(-2px);
}

.social-item a {
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

.social-item:hover {
    transform: translateX(10px);
}

.form-wrapper form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input,
textarea {
    padding: 15px;
    border: 2px solid var(--second-color);
    background-color: var(--second-bg-color);
    color: var(--text-color);
    border-radius: 5px;
    outline: none;
    font-size: 1.5rem;
}

input:hover,
textarea:hover {
    border-top: 2px solid #FF5733;
    border-right: 2px solid #33FF57;
    border-bottom: 2px solid #3357FF;
    border-left: 2px solid #FF33A1;
}

button.submit-btn {
    padding: 10px 20px;
    background-color: var(--second-color);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 2rem;
}

button.submit-btn:hover {
    box-shadow: -5px 5px 45px rgb(220, 82, 124), 5px -5px 54px rgba(103, 7, 7, 0.866);
    background-color: var(--second-bg-color);
    color: var(--second-color);
}

#toast,
.type {
    font-size: 2rem;
    margin-top: 10px;
    color: red;
}


/* conatct section end  */


/* footer section start  */

.footer {
    background: linear-gradient(to bottom, var(--bg-color), var(--second-bg-color));
    text-align: center;
    padding-top: 5px;
    color: var(--text-color);
    position: relative;
    width: 100%;
    height: auto;
    bottom: 0;
    font-size: 3rem;
    margin-bottom: 10px;
}

.footer-content p {
    font-family: 'Courier New', monospace;
    color: var(--second-color);
    margin: 0;
    padding: 10px;
}


/* @keyframes appear {
    from {
        opacity: 0;
        clip-path: inset(100% 100% 0 0);
    }
    to {
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}

section {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 5% cover 40%;
} */